
  /* General Page*/
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f5f5f5;
    padding: 50px;
}

/* Restaurant Ordering System */
input,
select,
button {
    padding: 10px;
    margin: 5px;
    font-size: 16px;
}

button {
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#result {
    color: #333;
    margin-top: 20px;
}

/* Text Formatter*/
.controls-container {
    margin-bottom: 10px;
}

#text-box {
    width: 400px;
    height: 150px;
    border: 2px solid black;
    padding: 10px;
    box-sizing: border-box;
    transition: background-color 0.3s;
    text-align: center;
    margin: 0 auto;
}


/*Change Image Shape */
.container {
    text-align: center;
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

#target-image {
    width: 300px;
    height: 300px;
    object-fit: cover;
    transition: border-radius 0.4s ease;
    margin-bottom: 20px;
}

.shape-btn {
    color: black;
    padding: 10px 20px;
    font-size: 16px;
    margin: 0 5px;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    transition: background-color 0.2s;
}